.categories-panel {
    width: 700px;
    height: 700px;
    overflow-y: scroll;
}

.order-menu {
    background-color: white;
    width: 700px;
    height: 700px;
}

.items-panel {
    width: 700px;
    height: 635px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    overflow-y: scroll;
}

.back-button {
    background-color: white;
    border: none;
    left: 3%;
}

.back-button:hover {
    transform: scale(0.90);
}