<div class="table-button" cdkDrag cdkDragBoundary=".admin-map" (cdkDragReleased)="drop($event)"
    [cdkDragDisabled]="dropped">
    <div class="delete-wrapper">
        <button class="delete-button" (click)="deleteTable()"><img *ngIf="dropped && hasValue && valid"
                src="../../assets/deletebutton.png"></button>
    </div>
    <div class="item-wrapper">
        <img src="http://localhost:8080/images/table.png">
    </div>
    <div class="item-wrapper">
        <input *ngIf="dropped" (input)="onTableInput($event)" [value]="table.tableNum ? table.tableNum : ''"
            class="label-field" type="text" maxlength="2">
    </div>
    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>
</div>