.server-map-page {
    background-color: white;
    height: 100%;
    /* padding: 20px; */
    border-radius: 5px;
}

.server-map-row {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
}

.table {}