<div class="order-menu-page">
    <div class="order-title">
        <p>Order #125 Table Number: 3</p>
    </div>
    <div class="order-menu-components">
        <div class="order-menu-wrapper">
            <order-menu>
                dfgthyujikl
            </order-menu>
        </div>
        <div class="order-ticket-actions">
            <ticket [mode]="ticketMode" [order]="newOrder"></ticket>
            <div class="buttons-group">
                <div class="buttons-group-row">
                    <button class="order-action-button" (click)="instructionsHandler()">Add instructions</button>
                    <button class="order-action-button">Cancel order</button>
                </div>
                <div class="buttons-group-row">
                    <button class="order-action-button">Close order</button>
                    <button class="order-action-button">Place order</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-icon-button class="home-button" [img]="'../../../assets/homebutton.png'" routerLink="/server/map">
</app-icon-button>