<div class="order-menu-page">
    <div class="order-title">
        <p *ngIf="this.orderService.order.getValue().orderId !== 0">Order #{{ this.orderService.order.getValue().orderId
            }} Table Number: {{
            tableNumber }}</p>
        <p *ngIf="this.orderService.order.getValue().orderId === 0">New Order Table Number: {{ tableNumber }}</p>
    </div>
    <div class="order-menu-components">
        <div class="order-menu-wrapper">
            <order-menu>
            </order-menu>
        </div>
        <div class="order-ticket-actions">
            <ticket [order]="order" [editMode]="editMode" [mode]="ticketMode"
                [showInstructions]="showInstructions.getValue()" [tableNumber]="tableNumber">
            </ticket>
            <div class="buttons-group">
                <div class="buttons-group-row">
                    <button class="order-action-button" (click)="instructionsHandler()">{{ instructionsLabel }}</button>
                    <button class="order-action-button" (click)="onCancel()">Cancel order</button>
                </div>
                <div class="buttons-group-row">
                    <button class="order-action-button" (click)="onClose()">Close order</button>

                    <button *ngIf="!editMode" class="order-action-button" (click)="onPlace()">Place order</button>
                    <button *ngIf="editMode" class="order-action-button" (click)="onUpdate()">Update order</button>
                </div>
            </div>
        </div>
    </div>
</div>
<icon-button class="home-button" [img]="'../../../assets/homebutton.png'" routerLink="/server/map">
</icon-button>