<div class="employee-page">
    <div class="employee-wrapper">
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Hire Date</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.hireDate | date}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.role}}</td>
                    <td><button (click)="openEditEmployeeDialog(user)" class="edit-button"><img
                                src="../../../assets/editbutton.png">
                        </button><button (click)="openConfirmationDialog(user.userId)" class="delete-button"><img
                                src="../../../assets/deletebutton.png"></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <icon-button class="home-button" [img]="'../../../assets/homebutton.png'" routerLink="/admin">
        </icon-button>
        <button class="new-employee" (click)="openNewEmployeeDialog()">New Employee</button>
    </div>
</div>