<div class="admin-page">
    <div class="admin-page-row">
        <div class="admin-page-button">
            <app-admin-button [text]="'Reports'" [img]="'../../../assets/reports.png'" routerLink="/admin/reports">
            </app-admin-button>
        </div>
        <div class="admin-page-button">
            <app-admin-button [text]="'Map'" [img]="'../../../assets/map.png'" routerLink="/admin/map">
            </app-admin-button>
        </div>
        <div class="admin-page-button">
            <app-admin-button [text]="'Employees'" [img]="'../../../assets/employees.png'"
                routerLink="/admin/employees"></app-admin-button>
        </div>
    </div>
    <div class="admin-page-row">
        <div class="admin-page-button">
            <app-admin-button [text]="'Edit Menu'" [img]="'../../../assets/editmenu.png'" routerLink="/admin/editmenu">
            </app-admin-button>
        </div>
        <div class="admin-page-button">
            <app-admin-button [text]="'Reservations'" [img]="'../../../assets/reservations.png'"
                routerLink="/admin/reservations"></app-admin-button>
        </div>
        <div class="admin-page-button">
            <app-admin-button [text]="'Images'" [img]="'../../../assets/images.png'" routerLink="/admin/images">
            </app-admin-button>
        </div>
    </div>
    <icon-button class="logout-button" (click)="onLogout()" [img]="'../../../assets/exit.png'">
    </icon-button>
</div>