.icon-button {
    border: none;
    background-color: transparent;
    position: absolute;
}

.table-button-content {
    display: flex;
    flex-direction: column;
}

.table-image {
    align-self: center;
    border: 2px solid black;
}