<div class="reservations-page">
    <div class="employee-wrapper">
        <div class="reservarions-date">
            <label class="date-label">Date:</label>
            <button (click)="previousDate()" class="date-arrow-left"><img src="../../../assets/dateArrow.png"></button>
            <input #date type="date" [value]="printedDate" (change)="changeDate($event)" />
            <button (click)="nextDate()" class="date-arrow-right"><img src="../../../assets/dateArrow.png"></button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Reservation Name</th>
                    <th>Reservation Date</th>
                    <th>Table Number</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reservation of filteredReservations">
                    <td>{{ reservation.reservationName }}</td>
                    <td>{{ reservation.reservationDate | date: 'short' }}</td>
                    <td>{{ reservation.tableNum }}</td>
                    <td><button (click)="openEditReservationDialog(reservation)" class="edit-button"><img
                                src="../../../assets/editbutton.png">
                        </button><button (click)="openConfirmationDialog(reservation.reservationId)"
                            class="delete-button"><img src="../../../assets/deletebutton.png"></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <icon-button class="home-button" [img]="'../../../assets/homebutton.png'" routerLink="/admin">
        </icon-button>
        <button class="new-reservation" (click)="openNewReservationDialog()">New Reservation</button>
    </div>
</div>