.ticket {
    background-color: #b1b1b1;
    border-color: #5b5b5b;
    border-style: solid;
    border-width: 2px;
    width: 400px;
    height: 530px;
    border-radius: 5px;
}

.ticket-header {
    width: 100%;
    height: 20%;
    border: 10px solid #b1b1b1;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 3%;
    font-weight: bold;
}

.ticket-item-list {
    height: 45%;
    overflow-y: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5%;
    position: relative;
    right: 5%
}

.ticket-list-item {
    display: flex;
    justify-content: space-between;
}

.item-image-button {
    border: none;
    background-color: transparent;
}

.item-image-button:hover {
    transform: scale(0.9);
}

.delete-icon {
    margin-top: 5px;
    padding: 5px;
}

.ticket-item {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    margin: 10px;
}

.item {
    display: flex;
    justify-content: space-between;
}

.item-price {
    padding-left: 9rem;
}

.ticket-label {
    position: relative;
    /* left: 55%; */
    width: 95%;
    height: 15%;
    margin: 10px;
    top: 3%;
    font-size: 50px;
    text-align: center;
}


.ticket-instructions {
    width: 100%;
    height: 15%;
    border: 10px solid #b1b1b1;
    background-color: white;
    resize: none;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    font-style: italic;
    position: relative;
    /* top: 5%; */
}

.ticket-instructions-empty {
    width: 100%;
    height: 15%;
    border: 10px solid #b1b1b1;
    background-color: #b1b1b1;
    display: flex;
    justify-content: space-between;
    padding: 3%;
    font-style: italic;
    position: relative;
    top: 5%
}

.ticket-total {
    width: 40%;
    height: 8%;
    background-color: white;
    position: relative;
    left: 55%;
    top: 7%;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}

.ticket-buttons {
    height: 15%;
    display: flex;
    position: relative;
    left: 20px;
}

.cancel-button {
    width: 30%;
    margin-right: 15px;
    background-color: darkred;
    border-radius: 5px;
}

.made-button {
    width: 50%;
    background-color: darkgreen;
    border-radius: 5px;
}

.qualifiers {
    font-style: italic;
}