<div class="ticket" [ngStyle]="getTicketStyle()">
    <div class="ticket-header">
        <div>
            <p *ngIf="order?.orderId === 0">New Order</p>
            <p *ngIf="!order || order?.orderId !== 0">Order #{{order.orderId}}</p>
            <p>Server: {{ order.username }}</p>
        </div>
        <div>
            <p>{{ order.orderDate | date: 'dd/MM/yy HH:mm'}}</p>
        </div>
    </div>
    <div class="ticket-item-list">
        <ul>
            <li class="ticket-list-item" *ngFor="let item of order?.items" [ngStyle]="getItemStyle(item)">
                <div class="ticket-item">
                    <b>{{ item?.orderitems?.quantity }}</b> {{item?.title}}
                    <span class="item-price">
                        <b>{{ (!!item?.price ? item.price * item.orderitems.quantity / 100 : 0) | number: '1.2-2'}}€</b>
                    </span>
                    <div class="qualifiers">{{ item?.orderitems?.qualifiers }}</div>
                </div>
                <div class="delete-icon">
                    <button *ngIf="editMode || order.state === 'NEW'" class="item-image-button"
                        (click)="onDeleteItem(item)"><img src="../../../assets/deletebutton.png" /></button>
                </div>
            </li>
        </ul>
    </div>
    <textarea type="text" class="ticket-instructions" *ngIf="showInstructions" maxlength="150" [disabled]="!editMode"
        placeholder="Instructions:"></textarea>
    <div class="ticket-instructions-empty" *ngIf="!(showInstructions)"></div>
    <div class="ticket-total" *ngIf="isMode('TOTAL')">
        Total: {{ (!!order ? order.orderTotal / 100 : 0) | number: '1.2-2'}} €
    </div>
    <div class="ticket-buttons" *ngIf="isMode('BUTTONS')">
        <button class="cancel-button" (click)="cancelOrder($event)">
            <img src="../../../assets/closebutton.png" />
        </button>
        <button class="made-button" (click)="makeOrder($event)">
            <img src="../../../assets/madebutton.png" />
        </button>
    </div>
</div>